<div id="banner">
        <div id="imagen">
         <img src="/img/logo2.png"> 
        </div>
    </div> 
       <h2 class="page-heading"> SELECCIONA TU SUCURSAL MAS CERCANA : </h2>  
         <div class="containerca">
            <div class="card">
                    <div class="imgBx">
                        <img src="/img/mapas.jpg">
                        <h2>av/ alemana </h2>
                    </div>
                    <div class="content">
                        
                       <a href="/menu/alemana">ver menu</a>     
                    </div>
            </div>
          
         
                <div class="card">
                        <div class="imgBx">
                            <img src="/img/mapas.jpg">
                            <h2>av/ bush </h2>
                        </div>
                        <div class="content">
                       
                        <a href="/menu/bush">ver menu</a>    
                        </div> 
                </div>
            
   
        </div> 
      

     
