 {{#if user}}
         
        {{else}}
         <div id="slideout-menu">
        <ul>
            <li>
                <a href="index.html">INICIO</a>
            </li>
            <li>
                <a href="mantenimiento.html">LOGIN</a>
            </li>
            <li>
                <a href="cursos-de-fsociety-academy.html">CURSOS</a>
            </li>
            <li>
                <a href="sobre-fsociety-academy.html">SOBRE</a>
            </li>
            <li>
                <a href="servicios.html">SERVICIOS</a>
            </li>
              <li>
              <input type="text" placeholder="Search Here">
          </li>
           
        </ul>
    </div>
    <nav>
        <div id="logo-img">
            <a href="#">
                <img src="/img/Logo.png" alt="SUSHICAKE">
            </a>
        </div>
        <div id="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
        <ul>
            <li>
                <a class="active" href="index.html">SECCION</a>
            </li>
            <li>
                <a href="mantenimiento.html">SECCION</a>
            </li>
            <li>
                <a href="cursos-de-fsociety-academy.html">SECCION</a>
            </li>
            <li>
                <a href="sobre-fsociety-academy.html">SECCION</a>
            </li>
           <li>
                <a href="servicios.html">SECCION</a>
            </li>
            <li>
              <div id="search-icon">
                  <i class="fas fa-search"></i>
              </div>
          </li>
        </ul>
    </nav>
    <div id="searchbox">
      <input type="text" placeholder="Search Here">
  </div>

        {{/if}}
      </ul>
    </div>
  </div>
</nav>