<div id="banner">
        <div id="imagen">
          <img src="/img/logo2.png"> 
           <h2 class="page-heading">GRACIAS POR REALIZAR TU PEDIDO, EN BREVE SERA CONFIRMADO</h2>
        </div>
</div> 
